#gharam-masala-logo {
  height: 100px;
}

#all-star-talent {
  font-family: Amatic SC, sans-serif;
  font-size: 70px;
}

a {
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #2d2d2d;
  text-align: left;
  background-color: #ffffff;
}

